<!-- <h1>{{notification==undefined}}</h1> -->


<!-- <button  (click)="logIn()"[disabled]="isLogin" class="btn btn-success m-3">LogIn</button>
<button  (click)="logOut()" [disabled]="!isLogin" class="btn btn-danger m-3">LogOut</button> -->



<!-- <h1 *ngIf="Islogin&&!IshaveToken">You are Now Login ;></h1>
<h1 *ngIf="IshaveToken&&!Islogin">You are Now Have Token;></h1>
<h1 *ngIf="Islogin&&IshaveToken">You are Now Login And Have Token ;></h1>
<h1 *ngIf="Islogin&&IshaveToken">You are Now Login And Have Token ;></h1> -->